<div class="modal fade" id="scoreModal" tabindex="-1" aria-labelledby="scoreModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scoreModalLabel">分享本次課程體驗</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" id="startDate" name="startDate" placeholder="上課時間" class="form-control mb-2" disabled
          readonly>
        <input type="text" id="scores" name="scores" placeholder="可填入1~5分" class="form-control mb-2">
        <input type="text" id="comment" name="comment" placeholder="留下評論吧" class="form-control mb-2">
      </div>
      <div class="modal-footer">
        <form action="#" method="POST" style="display: inline;">
          <button type="submit" class="btn btn btn-primary btn-sm">summit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>