<div class="row m-5">
  <div class="col-md-4">
    {{!-- <img class="img-responsive center-block mb-5" src="{{user.image}}"
      style="width: 250px height: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;"> --}}
    <img class="img-responsive center-block mb-5"
      src="https://movie-list.alphacamp.io/posters/rv1AWImgx386ULjcf62VYaW8zSt.jpg"
      style="width: 250px ;height: 250px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <h1>{{user.name}}</h1>
    <P>{{user.email}}</P>
    <hr />
    <button type="button" class="btn btn-link">
      <a class="btn btn-primary" href="/users/{{user.id}}/edit">
        Edit
      </a>
    </button>
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </div>
  <div class="col-md-8 card">
    <div class="card-body d-flex-inline">
      <p>New Schedule</p>
    </div>
    <div class="card-body d-flex-inline">
      <p>History Lessons</p>
    </div>
    <div class="card-body d-flex-inline">
      <p>我的學習時數排名</p>
    </div>
  </div>
</div>