{{> header route='teacherForm'}}
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form action="/teachers/join" method="POST">
        <div class="mb-3">
          <label for="name" class="mb-2">Name<span class="required text-danger">*</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name">
        </div>
        <div class="mb-3">
          <label for="introduction" class="mb-2">Your Introduction<span class="required text-danger">*</label>
          <textarea name="introduction" id="introduction" class="form-control"
            placeholder="Enter Your Introduction"></textarea>
        </div>
        <div class="mb-3">
          <label for="teachingStyle" class="mb-2">Your Teaching Style<span class="required text-danger">*</label>
          <textarea name="teachingStyle" id="teachingStyle" class="form-control"
            placeholder="Enter Your Teaching Style"></textarea>
        </div>
        <div class="mb-3">
          <label for="duringTime" class="mb-2">單堂課程時間(分鐘)<span class="required text-danger">*</label>
          <input type="text" id="duringTime" name="duringTime" class="form-control" placeholder="輸入教學分鐘：30分鐘或60分鐘">
        </div>
        <div class="mb-3">

          <label for="url" class="mb-2">視訊連結<span class="required text-danger">*</label>
          <input type="text" id="url" name="url" class="form-control" placeholder="Enter URL">
        </div>
        <div class="mb-3">
          <fieldset>
            <legend>開放預約</legend>
            <input type="checkbox" id="MON" name="appointment" value="1" />
            <label for="MON" class="mb-2">MON</label>
            <input type="checkbox" id="TUE" name="appointment" value="2" />
            <label for="TUE" class="mb-2">TUE</label>
            <input type="checkbox" id="WED" name="appointment" value="3" />
            <label for="WED" class="mb-2">WED</label>
            <input type="checkbox" id="THU" name="appointment" value="4" />
            <label for="THU" class="mb-2">THU</label>
            <input type="checkbox" id="FRI" name="appointment" value="5" />
            <label for="FRI" class="mb-2">FRI</label>
            <input type="checkbox" id="SAT" name="appointment" value="6" />
            <label for="SAT" class="mb-2">SAT</label>
            <input type="checkbox" id="SUN" name="appointment" value="0" />
            <label for="SUN" class="mb-2">SUN</label>
          </fieldset>
        </div>
        <div class="d-flex flex-column">
          <button type="submit" class="btn btn-info btn-block mb-2">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>